# Configuração Gmail
GMAIL_USERNAME=seu_email@gmail.com
GMAIL_APP_PASSWORD=sua_app_password

# Configuração Microsoft 365
MS_CLIENT_ID=seu_client_id
MS_TENANT_ID=seu_tenant_id
MS_REDIRECT_URI=http://localhost:53000/auth
MS_SCOPES=Mail.Read
MS_CLIENT_SECRET=seu_client_secret_opcional

